.Image {
  background-size: contain;
  @apply bg-center bg-no-repeat h-50vh lg:h-90vh;
  animation: bgImage 32s infinite;
}
.Text {
  @apply bg-center bg-contain bg-no-repeat h-50vh lg:h-90vh flex items-center justify-center;
  animation: bgText 32s infinite;
}

.Clans {
  font-family: "Lato", sans-serif;
  animation: bgColor 32s infinite;
}
.Grad {
  @apply bg-gradient-to-tr h-40 w-40 mix-blend-multiply opacity-30 shadow-2xl drop-shadow-2xl md:absolute  from-aswangGrad1 to-aswangGrad2;
}

@keyframes bgImage {
  0% {
    background-image: url("/images/siyokoy.svg");
  }
  25% {
    background-image: url("/images/tikbalang.svg");
  }
  50% {
    background-image: url("/images/duwende.svg");
  }
  75% {
    background-image: url("/images/manananggal.svg");
  }
  100% {
    background-image: url("/images/siyokoy.svg");
  }
}

@keyframes bgColor {
  0% {
    background: #4553d9;
  }
  25% {
    background: #65ac5e;
  }
  50% {
    background: #ac403d;
  }
  75% {
    background: #de9429;
  }
  100% {
    background: #4553d9;
  }
}

@keyframes bgText {
  0% {
    background-image: url("/images/siyk.svg");
  }
  25% {
    background-image: url("/images/tikb.svg");
  }
  50% {
    background-image: url("/images/duwend.svg");
  }
  75% {
    background-image: url("/images/manan.svg");
  }
  100% {
    background-image: url("/images/siyk.svg");
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
